:root {
    --primaryH: 210;
    --primaryS: 50%;
    --primaryL: 40%;
    --primary-bg: #fff;
    --secondaryH: 0;
    --secondaryS: 0%;
    --secondaryL: 13%;
    --secondary-bg: #fff;
    --font-family: Roboto, Helvetica, Arial, sans-serif;
    --font-size-root: 100%;
    --font-weight-bolder: 700;
    --font-weight-bold: 400;
    --font-weight-normal: 200;
    --font-weight-thin: 100;
    --line-height: 1.75rem;
    --heading-margin: 0.5rem 0 0.5rem;
    --border-radius: 2px;
    --error: #d00;
    --warning: #ec0;
    --info: #f574f1;
    --correct: #080;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
}

#top-area {
    /* height: 5%; */
    width: 98%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    /* position: absolute; */
    float: right;
    top: 0;
    left: 0;
    margin-left: auto; 
    margin-right: 0;
    /* align-items: flex-end; */
    border-radius: 10px;
}

#top-area > * {
    margin: 5px;
}

#iframe-container {
    position: absolute;
    top: 5%;
    left: 0;
    height: 95%;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: margin-left .5s;
    padding: 16px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }